<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saki Yanase Portfolio</title>
    <!-- ファビコン -->
    <link rel="icon" href="./img/logo.png">
    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- オリジナルCSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Vue2の読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <header-component
        :is-nav-open="isNavOpen"
        @close-nav="closeNav"
        @toggle-nav="toggleNav"
        ></header-component>
        <section class="mv">
            <div id="mainvisual">
                <img src="img/mv.png" alt="Saki Yanase Portfolioのメインビジュアル">
            </div>
            <div class="section-mv">
                <div class="section-mvtext">
                    <h1 class="mv-title">Saki Yanase's<br>Portfolio Website</h1>
                    <p class="mv-subtitle">I'm growing Frontend Developer.</p>
                </div>
            </div>
        
        </section>
        <main>
            <section id="works" class="wrapper">
                <h2 class="section-title">Works</h2>
                <p class="sub-title">制作物</p>
                <work-grid
                :items="worksList"
                @show-detail="openModal"
                ></work-grid>
                <modal-component
                :item="item"
                :is-open="isModalOpen"
                @close="closeModal"
                ></modal-component>
            </section>
            <section id="about" class="wrapper">
                <h2 class="section-title">About</h2>
                <p class="sub-title">わたしについて</p>
                <div class="about-content">
                    <img src="img/profile.PNG" alt="栁瀬早紀">
                    <div class="about-content-body">
                        <h3 class="about-title">Saki Yanase</h3>
                        <p class="about-subtitle">栁瀬 早紀</p>
                        <p class="about-text">1999年生まれ / 福岡県在住</p>
                        <p class="about-text">前職の自治体では、税システムの運用保守業務に携わり、ヘルプデスク業務を通じて、Webシステムのデザインや操作性がシステムの利便性や、業務効率化に直結することを実感しました。</p>    
                        <p class="about-text">この経験から、「仕組みを作る側」として、より本質的な課題解決に携わりたいという思いが芽生え、IT業界でキャリアを形成したいと考えるようになりました。</p>
                        <p class="about-text">現在は、職業訓練校でWeb開発を学習しながら、デザインからコーディングまで一貫して対応できるフロントエンドエンジニアとしての就職を目指しています。</p>
                    </div>
                </div>
                <div class="skill-content">
                    <h3 class="skill-title">Skill</h3>
                    <p class="skill-subtitle">できること</p>
                    <h4 class="">《言語》</h4>
                    <p class="skill-text">HTML / CSS（レスポンシブ対応）<br>
                        JavaScript / Vue.js</p>
                        <h4>《ソフト》</h4>
                        <p class="skill-text">VisualStudioCode / figma / Git Hub / Canva</p>
                        <h4>《強み》</h4>
                        <p class="skill-text">デザインカンプ（Figma）をもとにした正確なコーディング<br>
                            誰が見ても分かりやすく保守運用しやすいコードを書くこと<br>
                            レスポンシブ対応を前提としたレイアウト設計
                            JavaScriptによる動きのあるUI実装</p>
            </div>
            </section>

            <section id="contact" class="wrapper">
                <h2 class="section-title">Contact</h2>
                <p class="sub-title">お問い合わせ</p>
                <p class="contact-text">お問い合わせは下記よりお願いいたします</p>
                <!-- <i class="fa-regular fa-envelope"></i> <a class="contact-link" href="mailto:saki9219fleur@gmail.com">Contact by email</a> -->
                <form action="https://ssgform.com/s/A1w5gS2qPkuc" method="post" novalidate target="_blank">
                    <div class="form-element">
                        <label for="user-name">
                            <p class="form-title">お名前（必須）<br></p>
                        </label>
                            <input type="text" name="user-name" id="user-name" v-model="userName" :class="{ 'is-invalid': nameError }" @input="validateName">
                            <p class="text-error" v-if="nameError">{{nameError}}</p>
                    </div>
                    <div class="form-element">
                        <label for="email">
                            <p class="form-title">メールアドレス（必須）<br></p>
                        </label>
                            <input type="email" name="email" id="email" v-model="email" :class="{ 'is-invalid': emailError }" @input="validateEmail">
                            <p class="text-error" v-if="emailError">{{emailError}}</p>
                    </div>
                    <div class="form-element">
                        <label for="message">
                            <p class="form-title">お問い合わせ内容</p>
                        </label>
                            <textarea name="text" id="message"></textarea><br>
                        
                    </div>
                    <div class="button">
                        <input type="submit" value="送信" :disabled="!canSubmit">
                    </div>
                </form>
            </section>
        </main>
        
        <footer-component></footer-component>

        <a class="page-top" href="#top">
            <img src="img/pagetop.png" alt="topへもどる">
        </a>
    </div>
    <script src="./js/common.js"></script>
</body>
</html>